.App {
    background-color: yellow;
    display: flex;
    .test {
        color: red;
    }
    .backName {
        height: 500px;
        width: 300px;
        background-color: red;
        background-image: url("./static/test.png");
    }
}
